/* update.css by Su Yeoun */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;

}

body {
    margin-top: 50px;

}


.container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./Photos/Bgimg.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form1 {
    width: 400px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background: #f1faee;
    padding: 0 px;
    overflow: hidden;
    transition: 0.5s;
}

.signup {
    padding: 30px 40px;
}


#signup {
    top: 100px;
    position: absolute;
    width: 350px;
    transition: 0.5;
}

.sifi {
    width: 100%;
    padding: 10px 0;
    margin: 5ps 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;

    outline: none;
    background: transparent;
}

.lo-im {
    height: 180px;
    width: 190px;
    margin-left: 47px;
    margin-bottom: 20px;
    margin-top: 0;
}

.topbtn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #457b9d, #a8dadc);
    border-radius: 30px;
    transition: .5s;
}

.input {
    top: 108px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.form {
    top: 108px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

/* .input-field{
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
} */

.sub-btn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    margin: 40px 103px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #457b9d;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

.sub-btn:hover {
    background-color: #1d3557;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}

.bttn {
    padding: 2px 5px;
    justify-content: space-between;
    align-items: center;
}

table {
    justify-content: center;


}
.si-btn {
    font-size: 20px;
    margin: auto;
    padding: 5px;
    color: #ffffff; /* White text color */
    cursor: pointer;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    background-color: #457b9d;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

.si-btn:hover {
    text-decoration: none;
    background-color: rgb(197, 197, 197);
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}

.si-btn :visited {
   color: white;
}



.re-btn {
    width: 42%;
    padding: 5px 2px 5px 2px;
    right: 15px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, #83757a, #ffad06);
    border: 0;
    outline: none;

}

#login {
    left: 50px;
}

#signup {
    left: 450px;
}






.form-control {

    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label {
    display: inline-block;

    margin: 5px;
}

.form-control input {
    width: 100%;
    padding: 10px 0;
    margin-left: 50px;
    margin: 5ps 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
    top: 40px;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}




nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 10px 5%;
    align-items: center;
    height: 85px;
    justify-content: space-between;
    z-index: 1000;

}

.log {
    float: right;
}

#logg {
    display: flex;
    position: absolute;
    right: 10px;
    top: 5px;
    border: none;
    background-color: #0088a9;
    border-radius: 50px;
    cursor: pointer;
    padding: 9px 25px;
}

li {
    text-decoration: none;
}


header .logo {
    font-weight: bolder;
    font-size: 50px;
    color: #333;
    text-decoration: none;

}

header .navbar ul {
    list-style: none;
    margin-bottom: -50px;


}

header .navbar ul li {
    position: relative;
    margin-right: 50px;
    top: 0;
    text-decoration: none;
    float: right;
}

header .navbar ul li ul {
    padding-left: 50px;
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #fff;
    color: #333;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li:hover>ul {
    display: initial;

}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover {
    background: #333;
    color: #fff;
}

footer {
    background: linear-gradient(to right, #a8dadc, #457b9d);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #333;
    border: none;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 0 50px 0;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    margin: 0;

}

.footer-content p {
    max-width: 500px;
    margin: 0;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: linear-gradient(to right, #1d3557, #457b9d);
    width: 100vw;
    padding: 20px;
    text-align: center;
    border: none;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
    color: antiquewhite;
}





.buttonGrp {
    margin-left: 80px;
    padding-left: 30px;
    display:flex;
    gap: 20px;
}

#phpMsg {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 18px;

}

span {
    color: blue;
    font-weight: bold;
}


.log {
    float: right;
}

#logg {
    display: flex;
    position: absolute;
    right: 90px;
    top: 5px;
    border: none;
    background-color: #cce7ef;
    border-radius: 50px;
    cursor: pointer;
    padding: 9px 25px;
    text-decoration: none;
    color: black;
}

#logg>a {
    text-decoration: none;
    color: rgb(68, 76, 219);
    font-weight: bold;
}


#logout {
    right: 6px;
    top: 8px;
    display: flex;
    position: absolute;
 
    font-size: 15px;
    width: 80px;
    height: 30px;
    padding-top: 3px;
    padding-left: 10px;
    background-color: #c3d2db;
    border-radius: 10px;
    border: solid 2px lightslategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}

#logout:hover {
    background-color: lightblue;
    color: lightcoral;
}


header .navbar ul {
    list-style: none;
    margin-bottom: -25px;
    background-color: #fff;
}

header .navbar ul li {
    position: relative;
    margin-right: 90px;
    top: 0;
    text-decoration: none;
    background-color: #fff;
    float: right;
    text-align: center;
}


header .navbar ul li a {
    font-size: 20px;
    padding: 0px;
    color: #333;
    display: block;
}

.dep1>li>a:hover {
    background: #333;
    color: #fff;
}


