/* Main Page */

.headNav {
    /*Login and Sign-in */
    margin-top: 0px;
    text-align: right;
    font-size: 18px;

}  

.headNav>a {
    /* a tag for Login and Sign-in  */
    text-decoration: none;
    color: rgb(35, 35, 95);
    letter-spacing: 3px;
    padding-right: 30px;
    text-align: center;
}

#topHeader {
    /* Tutorium */
    padding-top: 35px;
    margin-bottom: 0px;
    padding-left: 30px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(246, 246, 240);
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#topHeader>a {
    text-decoration: none;
    color: black;

}




.menu_wrap {
    /* About us, tutors, contact ... */
    font-family: sans-serif;
    margin-top: 1px;
    padding-top: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(202, 202, 163);
    text-align: center;
    font-size: 28px;


}

.menu_wrap a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    padding-inline: 80px;

}

.menu_wrap>ul>li {
    list-style: none;
    display: inline-block;

}

.dep1 {
    margin-top: 5px;
    padding-top: 4px;
}



.menu_wrap a:hover {
    color: beige;
}

.menu_wrap .dep1>li {

    vertical-align: top;

}

.menu_wrap .dep1>li:hover>.dep2 {
    display: block;

}

.menu_wrap .dep1>li:hover>a {
    background-color: orange;
    color: blue;
}

.menu_wrap .dep2 {
    display: none;
    list-style: none;
    background-color: rgb(202, 202, 163);
    opacity: 0.7;


}

.menu_wrap .dep2>li {
    text-align: center;
}

.menu_wrap .dep2>li>a {
    padding-left: 40px;
    font: 10px;
}

.menu_wrap .dep2>li>a:hover {
    text-decoration: underline;
}

img {
    width: 300px;
    height: 400px;
}

input[type="button"] {
    margin-left: 700px;
    background-color: rgb(226, 249, 226);
}

.flexbox-container-siteMap {
    background-color: rgb(232, 232, 205);

    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;

}

.flexbox-container-siteMap a {
    color: black;
}



.flexbox-container-footer {
    /* footer */

    margin-bottom: 0px;
    display: flex;
    text-align: left;
    font-size: 18px;
    width: 100%;
    font-family: sans-serif;
    background-color: rgb(246, 246, 240);
    line-height: 30px;


}

.flexbox-footer1 {
    /* footer - Tutorium */

    padding-top: 20px;
    margin-left: 60px;
    width: 110px;
    font-size: 30px;

}

.flexbox-footer1 a {
    text-decoration: none;
    color: black;
}

.flexbox-footer2 {
    /* footer-locationn */
    margin-left: 350px;
    font-size: 18px;
    word-spacing: 2px;
}
#map{
    margin-top: 20px;
    margin-left: 500px;
    margin-bottom: 300px;
}
h1 {
margin-top: 30px;
text-align: center;
}
#background{
    background-color:rgb(246, 246, 240);
}
