/* Main Page */
/* *{
    text-decoration: none;
}
body{
    margin-top: 200px;
}
.headNav {
    /*Login and Sign-in 
    margin-top: 0px;
    text-align: right;
    font-size: 18px;

}  

.headNav>a {
    /* a tag for Login and Sign-in  
    text-decoration: none;
    color: rgb(35, 35, 95);
    letter-spacing: 3px;
    padding-right: 30px;
    text-align: center;
}

#topHeader {
    /* Tutorium 
    padding-top: 35px;
    margin-bottom: 0px;
    padding-left: 30px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(246, 246, 240);
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#topHeader>a {
    text-decoration: none;
    color: black;

}




.menu_wrap {
    /* About us, tutors, contact ... 
    font-family: sans-serif;
    margin-top: 1px;
    padding-top: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(202, 202, 163);
    text-align: center;
    font-size: 28px;


}

.menu_wrap a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    padding-inline: 80px;

}

.menu_wrap>ul>li {
    list-style: none;
    display: inline-block;

}

.dep1 {
    margin-top: 5px;
    padding-top: 4px;
}



.menu_wrap a:hover {
    color: beige;
}

.menu_wrap .dep1>li {

    vertical-align: top;

}

.menu_wrap .dep1>li:hover>.dep2 {
    display: block;

}

.menu_wrap .dep1>li:hover>a {
    background-color: orange;
    color: blue;
}

.menu_wrap .dep2 {
    display: none;
    list-style: none;
    background-color: rgb(202, 202, 163);
    opacity: 0.7;


}

.menu_wrap .dep2>li {
    text-align: center;
}

.menu_wrap .dep2>li>a {
    padding-left: 40px;
    font: 10px;
}

.menu_wrap .dep2>li>a:hover {
    text-decoration: underline;
}

img {
    width: 300px;
    height: 400px;
}

input[type="button"] {
    margin-left: 700px;
    background-color: rgb(226, 249, 226);
}

.flexbox-container-siteMap {
    background-color: rgb(232, 232, 205);

    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;

}

.flexbox-container-siteMap a {
    color: black;
}



.flexbox-container-footer {
    /* footer 

    margin-bottom: 0px;
    display: flex;
    text-align: left;
    font-size: 18px;
    width: 100%;
    font-family: sans-serif;
    background-color: rgb(246, 246, 240);
    line-height: 30px;


}

.flexbox-footer1 {
    /* footer - Tutorium 

    padding-top: 20px;
    margin-left: 60px;
    width: 110px;
    font-size: 30px;

}

.flexbox-footer1 a {
    text-decoration: none;
    color: black;
}

.flexbox-footer2 {
    /* footer-locationn 
    margin-left: 350px;
    font-size: 18px;
    word-spacing: 2px;
} */

/* first container */
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-top: 150px;
}

#FirstCon {

    margin-top: 1px;
    margin-left: 250px;
    font-size: 1.6em;
    width: 1000px;
    height: 500px;
    margin-bottom: 350px;

}

/* second container  */
#SecondCon {
    position: relative;
    margin-top: 1px;
    margin-left: 250px;
    font-size: 1.6em;
    width: 1000px;
    height: 500px;
    margin-bottom: 800px;

}

/* container image  */
.Container>img {
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* paragraph in the container  */
.paragraph, p {
    position: relative;
    margin-top: 25px;
}


/* for the bold text in second container  */
span {
    font-weight: bold;
}


/* 
nav{
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

header{
    position:fixed;
    top: 0;left: 0;right: 0;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 10px 5%;
    align-items: center;
    height: 75px;
    justify-content: space-between;
    z-index: 1000;
    
}
.log{
    float: right;
}
#logg{
display: flex;
position: absolute;
 right: 10px;
 top: 5px;
 border: none;
 background-color: #0088a9;
 border-radius: 50px;
 cursor: pointer;
 padding: 9px 25px;
}

li{
    text-decoration: none;
}


header .logo{
    font-weight: bolder;
    font-size: 50px;
    color: #333;
    text-decoration: none;
    
}

header .navbar ul{
    list-style: none;
    margin-bottom: -50px;
    
   
}

header .navbar ul li{
    position: relative;
    margin-right: 50px;
    top: 0;
    text-decoration: none;
    float: right;
}

header .navbar ul li ul{
   padding-left: 50px;
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #fff;
    color: #333;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

 header .navbar ul li:hover >ul {
    display: initial;

}

header .navbar ul li a{
    font-size: 20px;
     padding: 20px;
     color: #333;
     display: block;
}

header .navbar ul li a:hover{
    background: #333;
    color: #fff;
}

footer{
    background: linear-gradient(to right,#a8dadc,#457b9d);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color:#333 ;
    border: none;

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 0 50px 0;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    margin: 0;

}

.footer-content p{
    max-width: 500px;
    margin: 0 ;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom{
    background: linear-gradient(to right,#1d3557,#457b9d);
    width: 100vw;
    padding: 20px;
    text-align: center;
    border: none;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
    color: antiquewhite;
}
 */
