
@media only screen and (max-width: 900px) {
    body {
        width: 100%;
    }

    .dep1{
        visibility: visible;
        display: grid;
        grid-template-rows: 10% 5%;
        grid-template-columns: 10% 10%;
        row-gap: 13vw;
        column-gap: 60vw;
        background-color: transparent;
        opacity: 0.5;
        margin-right: 0;
        width: 30px;
        height: 5px;
        justify-items: left;
        align-content: flex-start;
        text-align: left;
        padding: 0;
        font-size: 10px;
        margin-top: 35px;
    }

    .dep1 > li a{
        background-color: rgb(187, 255, 240);
        margin-right: 30px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(78, 75, 75);
        border-radius: 16px;
        width: 100px;
        height: 15px;
        padding: 5px;
    }

    .dep2 > li a{
        border-radius: 20px;
        visibility: hidden;
    }

    header >.navbar > ul li ul{
        visibility: hidden;
    }

    #background{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #map {
        width: 550;
        height: 600;
        margin-right:100px;
    }
    
    #ottawa{
        margin-top: 10px;
        margin-left: 20px;
    }

    footer{
        max-width: 100%;
    }

    .footer-bottom{
       max-width: 100%;
    }

}
/* 
@media only screen and (max-width: 300px) {
    
    
    .footer{
        max-width: 100%;
    }

    .footer-bottom{
        max-width: fit-content;
     }

    .footer-bottom{
        visibility: hidden;
    }
} */
 

body{
    width: 100%;
}

#map{
    margin-top: 20px;
    margin-left: 600px;
    margin-bottom: 50px;
}

h1 {
margin-top: 30px;
text-align: center;
}

#background{
    background-color:rgb(246, 246, 240);
    border: solid 3px rgb(155, 154, 154);
}

#ottawa{
    position: absolute;
    margin-top: 120px;
    margin-left: 100px;
}

#head{
    font-size: 50px;
    color: cadetblue;
}
#para{
    font-size: 20px;
}

footer{
    background: linear-gradient(to right,#a8dadc,#457b9d);
    height: auto;
    padding-top: 40px;
    color:#333 ;
    border: none;
    width: 100%;

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 0 50px 0;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    margin: 0;
}

.footer-content p{
    max-width: 500px;
    margin: 0 ;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom{
    background: linear-gradient(to right,#1d3557,#457b9d);
    width: auto;
    padding: 20px;
    text-align: center;
    border: none;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
    color: antiquewhite;
}