<<<<<<< HEAD
/* style.css by Su Yeoun and Mathunan */
=======
/* Main CSS page. (group)
Gives format for all pages in the project for navbar and footer section.
Also gives all formatting to index.html  */
>>>>>>> aba7e5eafb056a7472550739436fa6a59395e54c

* {
    text-decoration: none;
}

body {
    background-color: #f1faee;
    margin-top: 90px;
    width: 100%;
}

@media only screen and (max-width: 900px) {
    body {
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .flexbox-container {
        flex-wrap: wrap;
    }

    .dep1 {
        visibility: visible;
        display: grid;
        grid-template-rows: 10% 5%;
        grid-template-columns: 10% 10%;
        row-gap: 13vw;
        column-gap: 60vw;
        background-color: transparent;
        opacity: 0.5;
        margin-right: 0;
        width: 30px;
        height: 5px;
        justify-items: left;
        align-content: flex-start;
        text-align: left;
        padding: 0;
        font-size: 10px;
        margin-top: 35px;
    }

    .dep1>li a {
        background-color: rgb(187, 255, 240);
        margin-right: 30px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(78, 75, 75);
        border-radius: 16px;
        width: 100px;
        height: 15px;
        padding: 5px;
    }

    .dep2>li a {
        border-radius: 20px;
        visibility: hidden;
    }


    header>.navbar>ul li ul {
        visibility: hidden;
    }


    #div_button-hide_Site_Map {
<<<<<<< HEAD
        /* margin-right: 60%;
=======
        margin-right: 60%;
>>>>>>> aba7e5eafb056a7472550739436fa6a59395e54c
        margin-left: 10%;
        padding-right: 18%;
        padding-left: 30%; */
        margin-bottom: 5px;

    }

    footer {
        max-width: 100%;
    }

    .footer-bottom {
        max-width: 100%;
    }

}

@media only screen and (max-width: 300px) {


    .footer {
        max-width: 100%;
    }

    .footer-bottom {
        max-width: fit-content;
    }

    .footer-bottom {
        visibility: hidden;
    }
}


nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px 5%;
    align-items: center;
    height: 75px;
    justify-content: space-between;
    z-index: 1000;
}

.log {
    float: right;
}

#logg {
    display: flex;
    position: absolute;
    right: 10px;
    top: 5px;
    border: none;
    background-color: #cce7ef;
    border-radius: 50px;
    cursor: pointer;
    padding: 9px 25px;
    text-decoration: none;
    color: black;
}

#logg>a {
    text-decoration: none;
    color: rgb(68, 76, 219);
    font-weight: bold;
}

li {
    text-decoration: none;
}

header .logo {
    font-weight: bolder;
    font-size: 50px;
    color: #333;
    text-decoration: none;
    background-color: #fff;

}

header .navbar ul {
    list-style: none;
    margin-bottom: -50px;
    background-color: #fff;
}

header .navbar ul li {
    position: relative;
    margin-right: 50px;
    top: 0;
    text-decoration: none;
    background-color: #fff;
    float: right;
    text-align: center;
}

header .navbar ul li ul {
    padding-left: 40px;
    text-align: center;
<<<<<<< HEAD

    /* position: absolute; */
=======
>>>>>>> aba7e5eafb056a7472550739436fa6a59395e54c
    width: 100%;
    height: 60px;
    display: none;
}

header .navbar ul li ul {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
}

header .navbar ul li ul li a:hover {
    color: #333;
}

header .navbar ul li:hover>ul {
    display: initial;

}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

.dep1>li>a:hover {
    background: #333;
    color: #fff;
}

.dep2>li>a:hover {
    text-decoration: underline;
}

<<<<<<< HEAD
/* .container-hidden-nav{
    height: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 20px;
    background-color: white;
    justify-content: center;
    column-gap: 15%;
    height: 5vw;
    visibility: visible;
} */

=======
>>>>>>> aba7e5eafb056a7472550739436fa6a59395e54c
.flexbox-siteMap {
    border-radius: 20px;
    border: #333;
    border-style: solid;
    padding: 3px 15px;
    text-align: center;
    margin-bottom: 10px;
}

img {
    width: 300px;
    height: 400px;
}

#div_button-hide_Site_Map {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 40%;
    margin-left: 30%;
}

input[type="button"] {
    margin-left: 50%;
    margin-right: 50%;
    background-color: rgb(226, 249, 226);
    padding: 10px;
    font-size: large;
}

input[type="button"]:hover {
    background-color: rgba(25, 0, 255, 0.274);
    color: rgb(223, 46, 113);
}

.flexbox-container-siteMap {
    background-color: rgb(232, 232, 205);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5em;
    width: 100%;

}

.flexbox-container-siteMap a {
    color: black;
}


.flexbox-container-footer {
    /* footer */

    margin-bottom: 0px;
    display: flex;
    text-align: left;
    font-size: 18px;
    width: 100%;
    font-family: sans-serif;
    background-color: rgb(246, 246, 240);
    line-height: 30px;
    background-color: #1d3557;


}

.flexbox-footer1 {
    /* footer - Tutorium */
    padding-top: 20px;
    margin-left: 60px;
    width: 110px;
    font-size: 30px;
}

.flexbox-footer1 a {
    text-decoration: none;
    color: black;
}

.flexbox-footer2 {
    /* footer-locationn */
    margin-left: 350px;
    font-size: 18px;
    word-spacing: 2px;
    background-color: #1d3557;
}

/* CSS for tutor list (Suyeon)*/
.search {
    /* search box */
    display: inline;
    float: left;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.flexbox-container-tutor {
    margin-top: 100px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    row-gap: 50px;
    column-gap: 0px;
    text-align: center;
}

.flexbox-container-tutor img {
    width: 250px;
    height: 250px;
<<<<<<< HEAD
=======

>>>>>>> aba7e5eafb056a7472550739436fa6a59395e54c
}

.flexbox-container-tutor>div {
    display: block;
}

<<<<<<< HEAD
=======

>>>>>>> aba7e5eafb056a7472550739436fa6a59395e54c
img {
    width: 100%;
    height: 100%;
}

footer {
    background: linear-gradient(to right, #a8dadc, #457b9d);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #333;
    border: none;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 0 50px 0;
}

.footer-content>h3 {
    font-size: 100px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    margin: 0;
}

.footer-content>p {
    max-width: 500px;
    margin: 0;
    line-height: 28px;
    font-size: 2rem;
}

.footer-bottom {
    background: linear-gradient(to right, #1d3557, #457b9d);
    padding: 20px;
    text-align: center;
    border: none;
}

.footer-bottom p {
    font-size: 30px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
    color: antiquewhite;
}

footer {
    background: linear-gradient(to right, #a8dadc, #457b9d);
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #333;
    border: none;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 0 50px 0;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    margin: 0;
}

.footer-content p {
    max-width: 500px;
    margin: 0;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: linear-gradient(to right, #1d3557, #457b9d);
    /* width: 100%; */
    padding: 20px;
    text-align: center;
    border: none;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
    color: antiquewhite;
}

.flexbox-container {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 28px;
}

.flexbox-container img {
    object-fit: cover;
    width: 300px;
    height: 400px;
}

.flexbox-container-tutor {
    margin-top: 100px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    row-gap: 50px;
    column-gap: 0px;
    text-align: center;
}

.flexbox-container-tutor img {
    width: 250px;
    height: 250px;

}

.flexbox-container-tutor>div {
    display: block;
}

img {
    width: 100%;
    height: 100%;
}


#logout {
    display: flex;
    position: absolute;
    margin-top: 19px;
<<<<<<< HEAD
    margin-left: 1340px;
=======
    margin-left: 1290px;
>>>>>>> aba7e5eafb056a7472550739436fa6a59395e54c
    font-size: 15px;
    width: 80px;
    height: 30px;
    padding-top: 3px;
<<<<<<< HEAD
    padding-left: 10px;
    background-color: #c3d2db;
    border-radius: 10px;
    border: solid 2px lightslategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}

#logout:hover {
    background-color: lightblue;
    color: lightcoral;

=======
    padding-left: 14px;
    background-color: #c3d2db;
}


#contact-title {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(45, 48, 48);
    color: azure;
    padding: 10px;
    margin-top: 5px;
}

.container-form {
    background-color: rgb(246, 246, 240);
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: larger;
    padding-left: 10%;
    padding-right: 10%;
}

.div-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-bottom: 10px;
}

.form-span {
    color: red
}

.div-form-input {
    border-style: solid;
    height: 30px;
    margin-top: 10px;
    font-size: 15px;
    border-color: rgba(40, 50, 59, 0.164);
}

.div-form-select {
    margin-right: 20%;
    margin-top: 10px;
    border-style: solid;
    height: 30px;
    color: rgb(75, 74, 74);
    font-size: 15px;
    border-color: rgba(40, 50, 59, 0.164);
}

::placeholder {
    color: rgba(165, 160, 160, 0.808);
}

:hover::placeholder {
    visibility: hidden;
}

.div-form-textarea {
    margin-right: 20%;
    margin-top: 10px;
    border-style: solid;
    opacity: 1;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: rgba(40, 50, 59, 0.164);
}

#button-container {
    display: grid;
    grid-template-columns: 15% 15%;
}

#div-form-submit {
    padding: 10px;
    width: 100px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 102, 255, 0.685);
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 18px;
}

:hover#div-form-submit {
    font-weight: bold;
    background-color: rgb(0, 102, 255);
    cursor: pointer;
}

#div-form-reset {
    padding: 10px;
    width: 100px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 102, 255, 0.685);
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-family: sans-serif;
}

:hover#div-form-reset {
    font-weight: bold;
    background-color: rgb(0, 102, 255);
    cursor: pointer;
}

#qa-section {
    margin-top: 10px;
    width: 100%;
}

#qa-title {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(45, 48, 48);
    color: azure;
    padding: 10px;
    margin-top: 5px;
}

#qa-subcontent {
    font-size: 1.4rem;
    text-align: center;
    background-color: rgb(111, 119, 119);
    color: mintcream;
    padding: 10px;
}

#questions-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.questions-div {
    padding: 10px;
    text-align: center;
    background-color: rgba(127, 240, 255, 0.096);
    border-style: ridge;
    font-size: 1.2rem;
    height: 40%;
    position: relative;
}

hidden-p {
    visibility: hidden;
}

:hover.questions-div>.hidden-p {
    visibility: visible;
    cursor: pointer;
    color: rgb(226, 43, 113);
    overflow: scroll;
}

:hover.questions-div {
    height: 80%;
    cursor: help
}

#qa-subcontent>p {
    font-style: italic;
    text-transform: capitalize;
    color: rgb(217, 5, 236);
    -webkit-text-stroke: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 10px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    letter-spacing: 0.1em;
    animation: flicker 0.6s ease-in-out infinite alternate;
}

@keyframes flicker {
    0% {
        opacity: 0.5;
        text-shadow: 2px 2px 10px;
    }

    100% {
        opacity: 1;
        text-shadow: 2px 2px 20px;
    }
}

footer {
    background: linear-gradient(to right, #a8dadc, #457b9d);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #333;
    border: none;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 0 50px 0;
}

.footer-content>h3 {
    font-size: 100px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    margin: 0;
}

.footer-content>p {
    max-width: 500px;
    margin: 0;
    line-height: 28px;
    font-size: 2rem;
}

.footer-bottom {
    background: linear-gradient(to right, #1d3557, #457b9d);
    padding: 20px;
    text-align: center;
    border: none;
}

.footer-bottom p {
    font-size: 30px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
    color: antiquewhite;
}

footer {
    background: linear-gradient(to right, #a8dadc, #457b9d);
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #333;
    border: none;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 0 50px 0;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    margin: 0;
}

.footer-content p {
    max-width: 500px;
    margin: 0;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: linear-gradient(to right, #1d3557, #457b9d);
    /* width: 100%; */
    padding: 20px;
    text-align: center;
    border: none;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
    color: antiquewhite;
>>>>>>> aba7e5eafb056a7472550739436fa6a59395e54c
}