body{
    background-image: url(CourseBG.png);
    background-size:cover;
}

.top{
    background-image: url(Untitled-3.png);
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px;
    text-align: center;
    font-size: 35px;
    width: auto;
    align-items: center;
    border-style: outset;

}
 
.section{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    width: 1750px;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    width: auto;
    overflow: hidden;
  }

  .box {
    float: left;
    position: relative;
    color: #ffffff;
    width: 225px;
    height: 225px;
    text-align: center;
    background: #000;
    transition: 00.5s;
    transform-style: preserve-3d;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.755);
    border-style: outset;
    margin: 2px;
    display: none;/* Hidden by default */
  }

 /* .container .box{
    float: left;
    position: relative;
    width: 225px;
    height: 225px;
    margin: 5px;
    background: #000;
    transition: 00.5s;
    transform-style: preserve-3d;
    
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.755);
    border-style: outset;
    
   
}  */
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }

  /* .container:hover .box{
    transform: rotateY(25deg);
    
}

.container .box:hover ~ .box{
    transform: rotateY(-25deg);
    
}

.container .box:hover{
    transform: rotateY(0deg);
    
} */

.container .box .imgbox{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.container .box:hover .imgbox{
    opacity: 0.4;
}

.container .box .imgbox{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.container .box:hover .imgbox{
    opacity: 0.4;
}

.container .box .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;

}

.container .box .content h4{
    color: white;
    transition: 000.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}

.container .box:hover .content h4{
    transform: translateY(0px);
    transition-delay: 0.5s;
}

.container .box .content p{
    color: #fff;
    transition: 000.5s;
    font-size: 20px;
    transform: translateY(220px);
}

.container .box:hover .content p{
    transform: translateY(0px);
    transition-delay: 0.6s;
}